.hypegate-splash {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 200px;
    margin-bottom: 50px;
    height: auto;
    width: 50%;  /* changed from 20% */
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 0 1rem;
    z-index: 1;
}

.hypegate-splash-create {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    height: auto;
    width: 20%;  /* changed from 20% */
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 0 1rem;
    z-index: 1;
}
